/* gulag mascot/avatar */

.gulag-avatar {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e282f310-ab7d-4519-a888-3e339bcac12e/daw2gh2-ff534613-5482-4c31-af83-55c9e092717c.png/v1/fill/w_900,h_1808,strp/_non_anime__anime_girl_render_by_lckiwi_daw2gh2-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xODA4IiwicGF0aCI6IlwvZlwvZTI4MmYzMTAtYWI3ZC00NTE5LWE4ODgtM2UzMzliY2FjMTJlXC9kYXcyZ2gyLWZmNTM0NjEzLTU0ODItNGMzMS1hZjgzLTU1YzllMDkyNzE3Yy5wbmciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.y0WZZDclmeXNWuMEwF4byBuKFWNBjunSi5XqKBSYSUk");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: calc(100vh - 4rem);
  width: 100%;
  left: 50px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-block {
  width: 1024px;
}

.my-con {
  margin: 53px 0 0 0;
  width: 100%;
  max-width: inherit;
}

.server-logo {
  width: 60px;
  margin-right: 16px;
}

.title-withlogo {
  margin-bottom: 6px
}

@media screen and (max-width: 1023px) {
  .gulag-avatar {
    display: none;
  }
  .main-block {
    width: initial;
    height: 285px;
  }
  #mascot {
    display: none !important;
  }
  .my-con {
    margin: 60px 0 0 0;
  }
  #home-hero {
    height: 300px;
  }
}

.splash {
  background: hsl(var(--main), 40%, 40%);
}

.footer {
  margin: 0;
}